<!DOCTYPE html>
<html>
    <header>{% include "partials/header.html" %}</header>
    <div class="all">
			<div class="header-deskripsi">
				<h3 align="center" font-family="cursive">Form Jadwal Kegiatan</h3>
			</div>

			<div class="deskripsi" align="justify" font-family="cursive" style="padding-bottom: 80px;">
                <form action={% url 'story5App:forms_post' %} method="POST">
                        {% csrf_token %}
                        {{ forms.as_p }}
                    <input type="submit" value="Submit">
                </form>
			</div>

			<div class="bawah" border-style:"solid" border-color:"white">
				<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>

					<div class="barr">
						<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: F0BB32;">
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding:0px 60px 0px 60px;">Tentang Saya</a>
							<a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="padding:0px 60px 0px 60px">Keahlian</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:contact' %}" style="padding:0px 60px 0px 60px">Kontak</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:form' %}" style="padding:0px 60px 0px 60px">Form</a>					
							<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Schedule Form</a>
							<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
						</nav>
					</div>

				</div>
			</div>
		</div>
</html>