<!DOCTYPE html>
<html>
    <head>
        <title>Form Jadwal</title>
        <header>{% include "partials/header.html" %}</header>
    </head>
    <div style="text-align:center; font-size: 50px"> Jadwal Kegiatan </div>
    <!-- {% block title %} Kumpulan Pesan {% endblock %} -->
    <table class="table">
        <thead>
            <th>Nama</th>
            <th>Tanggal</th>
            <th>Tempat</th>
            <th>Kategori</th>
        </thead>
        <tbody>
            {% for i in result %}
                <td> {{i.name}} </td>
                <td> {{i.date}} </td>
                <td> {{i.place}} </td>
                <td> {{i.category}}</td>
            </tr>
            {% endfor %}
        </tbody>

        <a class="btn" href="{% url 'story5App:forms_delete' %}">Hapus Semua</a>
        
        <div class="bar">
            <nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: F0BB32;">
                <a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding:0px 60px 0px 60px;">Tentang Saya</a>
                <a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
                <a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="padding:0px 60px 0px 60px">Keahlian</a>
                <a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:contact' %}" style="padding:0px 60px 0px 60px">Kontak</a>
                <a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:form' %}" style="padding:0px 60px 0px 60px">Form</a>					
                <a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="padding:0px 60px 0px 60px">Schedule Form</a>
                <a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
            </nav>
        </div>
        
    </table>

</html>

