.all {
	background-color: rgba(255, 144, 82, 0.45);
}

#atas {
	background-color: rgba(255, 96, 25,0.8);
	height: 225px;
}

#nama-panggilan{
	font-family: 'Montserrat';
	color: #3B494C;
	font-weight: bold;
	font-size: 70px;
	position: absolute;
	top: 125px;
	left: 310px;
}

.nama-lengkap{
	font-family: "Lucida Sans";
	color: black;
	font-size: 30px;
	position: absolute;
	top: 230px;
	left: 310px;
}

#gambar{
	position: absolute;
	top: 120px;
	left: 100px;
}

.header-deskripsi{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 80px;
	margin-left: 37%;
	margin-right: 37%;
	width: 26%;
	height: auto;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.header-akademik{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 60px;
	margin-left: 21%;
	margin-right: 64%;
	width: 15%;
	min-width: 150px;
	height: 6%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.header-pengalaman{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 60px;
	margin-left: 60%;
	margin-right: 24%;
	width: 16%;
	min-width: 150px;
	height: 6%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.header-keahlian{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 80px;
	margin-left: 43%;
	margin-right: 43%; 
	width: 16%;
	height: 6%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.header-kontak{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 80px;
	margin-left: 42%;
	margin-right: 42%;
	width: 16%;
	height: 6%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.header-form{
	font-family: 'Lato';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 40px;
	margin-left: 42%;
	margin-right: 42%;
	width: 16%;
	height: 6%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
}

.deskripsi{
	font-family: 'Josefin Sans';
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 150px;
	margin-left: 31%;
	margin-right: 31%;
	width: 38%;
	height: auto;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 20px 20px 20px;
}
@media (max-width: 400px) {
	.deskripsi{
	font-family: 'Josefin Sans';
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 150px;
	margin-left: 31%;
	margin-right: 31%;
	width: 70%;
	height: auto;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 20px 20px 20px;
}
}

.akademik{
	font-family: 'Josefin Sans';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 120px;
	margin-left: 16%;
	margin-right: 59%;
	width: 25%;
	height: 34%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 15px 15px 1px;
}

.pengalaman{
	font-family: 'Josefin Sans';
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 120px;
	margin-left: 56%;
	margin-right: 19%;
	width: 25%;
	height: 34%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 15px 15px 1px;
}

.keahlian{
	font-family: 'Josefin Sans';
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 150px;
	margin-left: 32%;
	margin-right: 32%;
	width: 37%;
	height: 23%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 20px 20px 20px;
}

.kontak{
	font-family: 'Josefin Sans';
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 150px;
	margin-left: 31%;
	margin-right: 31%;
	width: 38%;
	height: 23%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 20px 20px 20px;
}

.form{
	font-family: 'Josefin Sans';
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 100px;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	height: 38%;
	border-style: solid;
	border-color: white;
	border-radius: 40px;
	padding: 15px 20px 20px 20px;
}

.bar {
	background-color: rgba(255, 255, 255, 0.60);
	position: absolute;
	margin-top: 400px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: auto;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
}

#btn-ttg-saya{
	border-radius: 50px;
	height: 30px;

}

#btn-anp{
	border-radius: 50px;
	height: 30px;
}

#btn-ahli{
	border-radius: 50px;
	height: 30px;
}

#btn-kontak{
	border-radius: 50px;
	height: 30px;
}

#btn-form{
	border-radius: 50px;
	height: 30px;
}

#progress-bar1{
	position: absolute;
	margin-left: 650px;
	margin-top:170px;
	width: 350px;
}

#progress-bar2{
	position: absolute;
	margin-left: 650px;
	margin-top: 210px;
	width: 350px;
}

#progress-bar3{
	position: absolute;
	margin-left: 650px;
	margin-top: 250px;
	width: 350px;
}

#progress-bar4{
	position: absolute;
	margin-left: 650px;
	margin-top: 290px;
	width: 350px;
}

#img-wa{
	position: absolute;
	margin-top: 10px;
	width:30px; 
	height:30px: 
}

#img-instagram{
	position: absolute;
	margin-top: 50px;
	margin-left: 85%;
	width:30px; 
	height:30px: 
}

#img-email{
	position: absolute;
	margin-top: 100px;
	width:30px; 
	height:30px: 
}

#text-wa{
	position: absolute;
	margin-top: 10px;
	margin-left: 40px;
	border-style: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}

#text-instagram{
	position: absolute;
	margin-top: 50px;
	margin-left: 63%;
	border-style: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}

#text-email{
	position: absolute;
	margin-top: 95px;
	margin-left: 40px;
	border-style: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}
