<!DOCTYPE html>
<html>
	<header>{% include "partials/header.html" %}</header>
	<body>
		<div class="all">
			<div class="header-akademik">
				<h3 align="center" font-family="cursive">Akademik</h3>
            </div>
            
            <div class="header-pengalaman">
                    <h3 align="center" font-family="cursive">Pengalaman</h3>
                </div>

			<div class="akademik" align="justify" font-family="cursive">
					<p>- Universitas Indonesia</p>
                    <p>- SMAN 5 Depok</p>
                    <p>- SMPN 3 Depok</p>
                    <p>- SD Muhammadiyah 38 Sawangan</p>
            </div>
            
            <div class="pengalaman" align="justify" font-family="cursive">
                    <p>- Ketua Forum Anak Sawangan</p>
                    <p>- Staff Science Club 5 Depok</p>
                    <p>- Sekretaris Rohis 5 Depok</p>
                    <p>- Staff COMPFEST X</p>
                    <p>- PJ Dana Pentas Seni Islam SMAN 5 Depok</p>
                    <p>- Staff Sosial dan Ilmu Politik FUKI</p>
			</div>

			<div class="bawah" border-style:"solid" border-color:"white">
				<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>

					<div class="bar">
						<nav class="navbar navbar-expand-lg navbar-light" style="background-color: F0BB32;">
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding:0px 60px 0px 60px">Tentang Saya</a>
							<a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="padding:0px 60px 0px 60px">Keahlian</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:contact' %}" style="padding:0px 60px 0px 60px">Kontak</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:form' %}" style="padding:0px 60px 0px 60px">Form</a>
						</nav>
					</div>

					<div class="barr">
						<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: F0BB32; margin-left: 30%;">
							<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="padding:0px 60px 0px 60px">Schedule Form</a>
						<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</body>
	
</html>