<!DOCTYPE html>
<html>
	<header>{% include "partials/header.html" %}</header>
	<body style="background-color: rgba(255, 144, 82, 0.45);">
		<div class="all">
			<div class="header-form">
				<h3 align="center" font-family="cursive">Buku Tamu</h3>
			</div>

			<div class="form" align="justify" font-family="cursive">
                <form class="form-group">
                    <div class="form-group form-inline">
                      <label for="exampleInputPassword1">Nama</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nama" style="width:300px;margin-left:80px;">
                    </div>
                    <div class="form-group form-inline">
                      <label for="exampleInputPassword1">Tanggal</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Tanggal" style="width:300px;margin-left:65px;">
                    </div>
                    <div class="form-group form-inline">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" style="width:300px;margin-left:20px;">
                      <button type="submit" class="btn btn-primary" style="height:40px;margin-left:50px;">Submit</button>
                    </div>
                    <div class="form-group form-inline">
                      <label for="exampleInputPassword1">Subjek</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subjek" style="width:300px;margin-left:70px;">
                    </div>
                    <div class="form-group form-inline">
                      <label for="exampleInputPassword1">Message</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" style="width:300px;margin-left:55px">
                    </div>
                  </form>
			</div>

			<div class="bawah" border-style:"solid" border-color:"white">
				<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>
				<div class="bar">
					<nav class="navbar navbar-expand-lg navbar-light" style="background-color: F0BB32;">
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding: 0px 60px 0px 60px;">Tentang Saya</a>
						<a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="padding:0px 60px 0px 60px">Keahlian</a>
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:contact' %}" style="padding:0px 60px 0px 60px">Kontak</a>
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-form" href="{% url 'MyApp:form' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Form</a>
					</nav>
        </div>
        <div class="barr">
          <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: F0BB32; margin-left: 30%;">
            <a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="padding:0px 60px 0px 60px">Schedule Form</a>
          <a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
          </nav>
        </div>
			</div>
		</div>
	</body>
	
</html>