<!DOCTYPE html>
<html>
	<header>{% include "partials/header.html" %}</header>
	
	<body>
		<div class="all">
			<div class="header-keahlian">
				<h3 align="center" font-family="cursive">Keahlian</h3>
			</div>

			<div class="keahlian" align="justify" font-family="cursive">
                <p>Ms Word:</p>
                <p>PowerPoint:</p>
                <p>Python:</p>
                <p>Java:</p>
            </div>
            
            <div class="w3-container">
                <div class="w3-border" id="progress-bar1">
                     <div class="w3-blue" style="height:24px;width:90%">90%</div>
                </div>
            </div>
            
            <div class="w3-container">
                <div class="w3-border" id="progress-bar2">
                     <div class="w3-blue" style="height:24px;width:85%">85%</div>
                </div>
            </div>            
            
            <div class="w3-container">
                <div class="w3-border" id="progress-bar3">
                     <div class="w3-blue" style="height:24px;width:85%;">85%</div>
                </div>
            </div>

            <div class="w3-container">
                <div class="w3-border" id="progress-bar4">
                     <div class="w3-blue" style="height:24px;width:80%">80%</div>
                </div>
            </div>

			<div class="bawah" border-style:"solid" border-color:"white">
				<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>
			
				<div class="bar">
						<nav class="navbar navbar-expand-lg navbar-light" style="background-color: F0BB32;">
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding:0px 60px 0px 60px">Tentang Saya</a>
							<a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Keahlian</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:contact' %}" style="padding:0px 60px 0px 60px">Kontak</a>
							<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kntk" href="{% url 'MyApp:form' %}" style="padding:0px 60px 0px 60px">Form</a>
						</nav>
                    </div>
                    
                    <div class="barr">
						<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: F0BB32; margin-left: 30%;">
							<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="padding:0px 60px 0px 60px">Schedule Form</a>
						<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
						</nav>
					</div>
			</div>
		</div>
	</body>
	
</html>