<!DOCTYPE html>
<html>
	<header>{% include "partials/header.html" %}</header>
	
	<body style="background-color: rgba(255, 144, 82, 0.45);">
		<div class="all">
			<div class="header-kontak">
				<h3 align="center" font-family="cursive">Kontak</h3>
			</div>

			<div class="kontak" align="justify" font-family="cursive">
				<img id="img-wa" src="https://lh6.ggpht.com/mp86vbELnqLi2FzvhiKdPX31_oiTRLNyeK8x4IIrbF5eD1D5RdnVwjQP0hwMNR_JdA">
				<div id="text-wa">082112741481</div>
				<img id="img-instagram" src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-png-transparent-background-800x799.png">
				<div id="text-instagram">@mdhiyaulhaqn</div>
				<img id="img-email" src="https://banner2.kisspng.com/20171216/aea/gmail-logo-png-5a3553a6e082c3.6128108415134442629196.jpg">
				<div id="text-email">dhiyaulhaqnugraha@gmail.com</div>
			</div>

			<div class="bawah" border-style:"solid" border-color:"white">
				<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>
				<div class="bar">
					<nav class="navbar navbar-expand-lg navbar-light" style="background-color: F0BB32;">
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ttg-saya" href="{% url 'MyApp:about' %}" style="padding:0px 60px 0px 60px">Tentang Saya</a>
						<a class="navbar-brand col-lg-3 col-xs-6" id="btn-anp" href="{% url 'MyApp:academic' %}" style="padding:0px 60px 0px 60px">Akademik & Pengalaman</a>
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-ahli" href="{% url 'MyApp:skill' %}" style="padding:0px 60px 0px 60px">Keahlian</a>
						<a class="navbar-brand col-lg-2 col-xs-6" id="btn-kontak" href="{% url 'MyApp:contact' %}" style="background-color:rgba(255, 144, 82, 0.6); padding:0px 60px 0px 60px">Kontak</a>
						<a class="navbar-brand col-lg-2 col-xs-6d" id="btn-kntk" href="{% url 'MyApp:form' %}" style="padding:0px 60px 0px 60px">Form</a>
					</nav>
				</div>

				<div class="barr">
					<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: F0BB32; margin-left: 30%;">
						<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_html' %}" style="padding:0px 60px 0px 60px">Schedule Form</a>
					<a class="navbar-brand" id="btn-ahli" href="{% url 'story5App:forms_collection' %}" style="padding:0px 60px 0px 60px">Jadwal Kegiatan</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
	
</html>